<p>
    <h3> ToDo Web App </h3>

    <hr>

    <div>
    {% if user.is_authenticated %}
        <p>
            <span>Hello, {{ user.username }}!</span> 
            <span> | </span>
            <a href="{% url 'users:logout' %}">Logout</a>
        </p>
    {% else %}
        <a href="{% url 'users:register' %}">Register</a>
        <span> | </span>
        <a href="{% url 'users:login' %}">Login</a>
    {% endif %}
    </div>

    <hr> 

    <div>
        <p>
            <a href="{% url 'todoapp:tasks' %}">Tasks</a>
            <span> | </span>
            <a href="{% url 'todoapp:new_task' %}">Add Task</a>
        </p>
    </div>

    <div>
        <p>
            <a href="{% url 'todoapp:hashtags' %}">Hashtags</a>
            <span> | </span>
            <a href="{% url 'todoapp:new_hashtag' %}">Add Hashtag</a>
        </p>
    </div>
</p>

<hr> 
{% block content %}{% endblock content %}
<hr> 

<p>
    <a href="https:/www.github.com/Kowies">Created by Kowieski Michał</a>
</p>
