{% extends "base.html" %}

{% block header %}
    <h1>Delete task</h1>
{% endblock header %}

{% block content %}

    <div>
        <h5>Are you sure you want to delete the task "{{ task.title }}"?</h5> 
    </div>

    <form action="{% url 'todoapp:delete_task' task.id%}" method='post'>
        {% csrf_token %}

        <div class="submit-row">
            <button name="submit" class="btn btn-danger">Yes, I'm sure</button>
            <a href="{% url 'todoapp:task' task.id %}" class="btn btn-secondary">No, take me back</a>
        </div>
    </form>

{% endblock content %}