{% extends "base.html" %}
{% load bootstrap4 %}

{% block header %}
    <h1>Edit Task:</h1>
{% endblock header %}

{% block content %}

    <div>
        <p>
            <a href="{% url 'todoapp:task' task.id %}" class="btn btn-light">Go back</a>
        </p>
    </div>

    <form action="{% url 'todoapp:task' task.id%}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}

        {% buttons %}
            <button name="submit" class="btn btn-primary">Save changes</button>
        {% endbuttons %}
    </form>

{% endblock content %}