{% extends "base.html" %}

{% block content %}

    <h1> Hashtag: </h1>

    <p> Name: {{ hashtag.title }} </p>

    <p> Used in tasks:</p>
    <ul>
        {% for task in tasks_in_which_used %}
        <li>
            <a href="{% url 'todoapp:task' task.id %}">
                {{ task }}
            </a>
        </li>
        {% empty %}
            This Hashtag isn't used in any task.
        {% endfor %}
    </ul>

    <p><a href="{% url 'todoapp:edit_hashtag' hashtag.id %}">Edit Hashtag</a></p>

{% endblock content %}