{% extends "base.html" %}

{% block header %}
    <h1>Hashtags:</h1>
{% endblock header %}

{% block content %}
    <ul>
        {% for hashtag in hashtags %}
            <li>
                <h4>
                    <a href="{% url 'todoapp:hashtag' hashtag.id %}">{{ hashtag }}</a>
                </h4>
            </li>
        {% empty %}
            <h5 class="p-3 mb-2 bg-warning text-dark">There is no hashtag.</h5>
        {% endfor %}     
    </ul>

    <div>
        <p>
            <a class="btn btn-primary" href="{% url 'todoapp:new_hashtag' %}">
                Create new hashtag
            </a>
        </p>
    </div>

{% endblock content %}