{% extends "base.html" %}
{% load bootstrap4}

{% block header %}
    <h1>Hashtag:</h1>
{% endblock header %}

{% block content %}

    <h3>Name:</h3>
    <div class="panel-body">
        <h5>{{ hashtag.title }}</h5>
    </div>
    
    <h3>Used in tasks:</h3>
    <ul>
        {% for task in tasks_in_which_used %}
        <li>
            <h5>
                <a href="{% url 'todoapp:task' task.id %}">
                    {{ task }}
                </a>
            </h5>
        </li>
        {% empty %}
            This Hashtag isn't used in any task.
        {% endfor %}
    </ul>

    <div>
        <p>
            <a href="{% url 'todoapp:edit_hashtag' hashtag.id %}" class="btn btn-secondary">
                Edit Hashtag
            </a>
        </p>
        <p>
            <a href="{% url 'todoapp:delete_hashtag' hashtag.id %}" class="btn btn-danger">
                Delete Hashtag
            </a>
        </p>
    </div>
    
{% endblock content %}