{% extends "base.html" %}

{% block header %}
    <h1>Tasks:</h1>
{% endblock header %}

{% block content %}

    <h3>Not Completed:</h3>
    <ul>
        {% for task in tasks_not_completed %}
            <h4>
                <li>
                    <a href="{% url 'todoapp:task' task.id %}">{{ task }}</a>
                </li>
            </h4>
        {% empty %}
            <h5 class="p-3 mb-2 bg-warning text-dark">There is no task.</h5>
        {% endfor %}     
    </ul>

    <h3>Completed:</h3>
    <ul>
        {% for task in tasks_completed %}
            <li>
                <h4>
                    <a href="{% url 'todoapp:task' task.id %}">{{ task }}</a>
                </h4>
            </li>
        {% empty %}
            <h5 class="p-3 mb-2 bg-warning text-dark">There is no task.</h5>
        {% endfor %}     
    </ul>

    <div>
        <p>
            <a class="btn btn-primary" href="{% url 'todoapp:new_task' %}">
                Create new task
            </a>
        </p>
    </div>

{% endblock content %}