 {% extends "base.html" %}

{% block content %}

    <h1> Task: </h1>
    <p> Name: {{ task.title }} </p>
    <p> Description: {{ task.description }} </p>
    <p> Completed: {{ task.completed }} </p>

    <p> Hashtags: </p>
    <ul>
        {% for hashtag in task.hashtags.all %}
        <li>
            <a href="{% url 'todoapp:hashtag' hashtag.id %}">
                {{ hashtag }}
            </a>
        </li>
        {% empty %}
            Doesn't contain any hashtag!
        {% endfor %}
    </ul>

    <p><a href="{% url 'todoapp:edit_task' task.id %}">Edit task</a></p>

{% endblock content %}