 {% extends "base.html" %}
 {% load bootstrap4 %}

 {% block header %}
    <h1>Task:</h1>
 {% endblock header %}

{% block content %}

    <h3>Name:</h3>
    <div class="panel-body">
        <h5>{{ task.title }}</h5>
    </div>
    
    <h3>Description:</h3>
    <div class="panel-body">
        {{ task.description }}
    </div>

    <h3>Completed: </h3>
    <div class="panel-body">
        <h5>{{ task.completed }}</h5>
    </div>
    
    <h3>Hashtags:</h3>
    <ul>
        {% for hashtag in task.hashtags.all %}
        <li>
            <h5>
                <a href="{% url 'todoapp:hashtag' hashtag.id %}">{{ hashtag }}</a>
            </h5>
        </li>
        {% empty %}
            Doesn't contain any hashtag!
        {% endfor %}
    </ul>

    <form method="post" action="{% url 'todoapp:task' task.id %}">
        {% csrf_token %}

        {% buttons %}
            <button name="submit" class="btn btn-primary">Tick!</button>
        {% endbuttons %}
        <input type="hidden" name="tick_task_form"/>
    </form>

    <div>
        <p>
            <a class="btn btn-secondary" href="{% url 'todoapp:edit_task' task.id %}">
                Edit Task
            </a>
        </p>
        <p>
            <a class="btn btn-danger" href="{% url 'todoapp:delete_task' task.id %}">
                Delete Task
            </a>
        </p>
    </div>
    
{% endblock content %}